<STYLE>
	.btnbig{padding: 20px;  font-size:16px; }
	.bigbox{margin-top:10px;overflow: hidden;display:block;
		}
</style>
<div  class=bigbox >
	 <a class='yellowbtn btnbig' style='float:left'  href='?win=index&view=order.changestate&tostate=washing'>洗衣店批量收件</a>
</div>
<div  class=bigbox >
	 <a class='yellowbtn btnbig' style='float:left'  href='?win=index&view=order.changestate&tostate=clean'>批量标记为干净</a>
</div>
<div  class=bigbox >
	<a class='yellowbtn btnbig' style='float:left'  href='?win=index&view=order.changestate&tostate=back'>批量派件</a>
</div>