<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?
 
		  
?>
<html>
	<head>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.8, maximum-scale=1.0, user-scalable=no"/>

		<link href="<?=$_TEMPLATE_?>/main.css" type=text/css rel=stylesheet>
		<title><?=$titleTxt ?></title>
		<script src="<?=$_TEMPLATE_?>/jquery-1.4.4.min.js"></script>
	</head>
<body>
 
 